In [8]:
%matplotlib inline
import pandas as pd
import numpy as np
from numpy.random import randn
import math

In [19]:
df1 = pd.read_csv("./mass_shootings_all.csv",encoding='latin-1',low_memory=False)

In [21]:
df1 #ranges from July 2015 to Novemeber 2016
df1.describe()

         # Killed  # Injured  Operations
count  500.000000  500.00000         0.0
mean     1.162000    4.05800         NaN
std      2.708214    3.08702         NaN
min      0.000000    0.00000         NaN
25%      0.000000    3.00000         NaN
50%      1.000000    4.00000         NaN
75%      1.000000    5.00000         NaN
max     50.000000   53.00000         NaN